{% extends 'da.html.twig' %}

{% block title %}New Participation{% endblock %}

{% block body %}

<div style="padding-bottom: 5%;"></div>
    <h1>Create new Participation</h1>

    {{ include('participations/_form.html.twig') }}
 
    <a class="btn btn-sm btn-info"  href="{{ path('app_participations_index') }}">back to list</a>
{% endblock %}
