{% extends 'user.html.twig' %}

{% block title %}New Participation{% endblock %}

{% block body %}
    <h1>Create New Participation</h1>

    {{ include('participation_etudiant/_form.html.twig', {'form': form}) }}

    <a href="{{ path('app_participation_etudiant_index') }}">Back to List</a>
{% endblock %}
